<section class="ordercontainer" [ngClass.lt-md]="{ ordercontainer: false }">
  <section style="height: 100px; border: 1px solid blue">
    <article>
      <p>
        <mat-toolbar
          style="background-color: lavender; height: 100px"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <span style="font-size: x-large; font-weight: 500"
            >Your Order is Confirmed!!</span
          >
        </mat-toolbar>
      </p>
    </article>
  </section>
  <section style="height: 120px; border: 1px solid blue">
    <article
      style="height: 120px"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div>
        <span style="font-size: x-large; font-weight: 500">Invoice</span>
      </div>
      <div>
        <span style="font-size: x-large; font-weight: 500">Order # 12</span>
      </div>
    </article>
  </section>
  <section
    style="height: 150px; border: 1px solid blue"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <article style="font-size: large">
      <span style="font-weight: 500">Biled To:</span><br />
      <span style="font-weight: 300">Kavita Nigam</span><br />
      <span style="font-weight: 300"
        >102 Sabarmati Society, Mahatma Gandhi Road</span
      ><br />
      <span style="font-weight: 300">Near Salt Lake, Gandhi Nagar</span><br />
      <span style="font-weight: 300">Ahmedabad - 111111</span><br />
      <span style="font-weight: 300">Gujarat - India</span><br />
    </article>
    <article style="text-align: right; font-size: large">
      <span style="font-weight: 500">Shipped To:</span><br />
      <span style="font-weight: 300">Kavita Nigam</span><br />
      <span style="font-weight: 300"
        >102 Sabarmati Society, Mahatma Gandhi Road</span
      ><br />
      <span style="font-weight: 300">Near Salt Lake, Gandhi Nagar</span><br />
      <span style="font-weight: 300">Ahmedabad - 111111</span><br />
      <span style="font-weight: 300">Gujarat - India</span><br />
    </article>
  </section>
  <section
    style="height: 100px; border: 1px solid blue"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <article style="font-size: large">
      <span style="font-weight: 500">Patment Method:</span><br />
      <span style="font-weight: 300">Card Payment</span><br />
      <span style="font-weight: 300">kn@gmail.com</span><br />
    </article>
    <article style="text-align: right; font-size: large">
      <span style="font-weight: 500">Order Date:</span><br />
      <span style="font-weight: 300">wed oct 20 18:02:59 IST 2021</span><br />
    </article>
  </section>
  <section
    style="height: 50px; background-color: lavender; border: 1px solid blue"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <article style="font-size: large">
      <span style="font-weight: 500">Order Summary:</span><br />
    </article>
  </section>
  <section style="border: 1px solid blue"></section>

  <section
    style="height: 100px; border: 1px solid blue"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <article>
      <button mat-raised-button color="primary" class="btnaddress">
        Continue Shopping
      </button>
    </article>
  </section>
</section>
