<mat-toolbar color="primary">
  <mat-toolbar-row
    style="height: 75px"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div>
      <button mat-button routerLink="/medicare/home">
        <span class="logotxt">Medicare</span>
      </button>
      <button
        mat-button
        routerLink="/medicare/aboutus"
        routerLinkActive="activelink"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        About
      </button>
      <button
        mat-button
        routerLink="/medicare/contactus"
        routerLinkActive="activelink"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Contact
      </button>
      <button
        mat-button
        routerLink="/medicare/viewproducts"
        routerLinkActive="activelink"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        View Products
      </button>
    </div>

    <div>
      <button
        *ngIf="authService.IsAuthenticated"
        mat-button
        (click)="appSignOut()"
      >
        Sign Out
      </button>
      <button
        mat-button
        *ngIf="authService.IsAuthenticated && authService.IsAdmin"
        routerLink="/admin"
        routerLinkActive="activelink"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Admin
      </button>
      <button
        mat-button
        *ngIf="authService.IsAuthenticated && authService.IsUser"
        routerLink="/customer"
        routerLinkActive="activelink"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Customer
      </button>
      <button
        mat-button
        routerLink="/medicare/register"
        routerLinkActive="activelink"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Sign Up
      </button>
      <button
        mat-button
        routerLink="/medicare/signin"
        routerLinkActive="activelink"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Login
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
