mat-sidenav-container {
  height: 75vh;
  border: 3px solid #d0c4c4;
  width: 100%;
}

mat-sidenav {
  width: 200px;
  margin-left: 5px;
  padding: 16px;
}

mat-sidenav-content {
  padding: 16px;
}

.prod-heading {
  margin-top: 75px;
}
